body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #007aff; 
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px; 
}

.menu-icon {
    display: none;
    font-size: 1.6em; 
    color: white;
    cursor: pointer;
}
.patterns {
  width: 100%;
  height: 100%;
  --s: 60px;
  --c1: #180a22;
  --c2: #5b42f3;
  --_g: radial-gradient(
    25% 25% at 25% 25%,
    var(--c1) 99%,
    rgba(0, 0, 0, 0) 101%
  );
  background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
      calc(2 * var(--s)),
    var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
    radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
      var(--s),
    repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
      calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul.menu {
    flex: 1;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 12px; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9em; 
    font-weight: 500;
}

.signup-button {
    background-color: #007aff; 
    padding: 8px 16px; 
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.signup-button:hover {
    background-color: #0056b3; 
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.details-box {
    margin-top: 20px;
    padding: 12px; 
    border-radius: 8px; 
    background-color: #ffffff; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

.details-box h3 {
    margin: 0;
    font-size: 1.2em;
    color: #007aff; 
}

.details-box p {
    margin: 8px 0;
    font-size: 1em;
    color: #333; 
}

.container {
    text-align: center;
    padding: 24px; 
    border-radius: 20px; 
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    width: 90%;
    max-width: 800px;
}

.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

h1 {
    font-size: 2.2em; 
    color: #007aff; 
}

form {
    margin-top: 20px;
}

input[type="text"] {
    width: calc(100% - 24px);
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px; 
    border: 1px solid #d4d4d4; 
    font-size: 1em;
    background-color: #f2f2f7;
    padding-left: 16px;
    outline: none; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.options {
    text-align: left;
    margin: 20px 0;
}

.options .switch {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 0.9em;
    color: #007aff; 
    margin: 10px 0;
}

.options .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.options .switch .slider {
    position: relative;
    cursor: pointer;
    background-color: #e5e5ea; 
    transition: .4s;
    border-radius: 20px; 
    width: 48px; 
    height: 28px;
    margin-left: 12px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
}

.options .switch .slider:before {
    position: absolute;
    content: "";
    height: 24px; 
    width: 24px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: white; 
    transition: .4s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
}

.options .switch input:checked + .slider {
    background-color: #4cd964; 
}

.options .switch input:checked + .slider:before {
    transform: translateX(20px); 
    background-color: #ffffff; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    background-color: #007aff; 
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; 
}

#loading {
    display: none;
    font-size: 1.2em;
    color: #007aff; 
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    text-align: left;
}

#result h2 {
    font-size: 1.5em;
    color: #007aff; 
}

#ports {
    margin-top: 10px;
}

.port-entry {
    display: flex;
    justify-content: space-between;
    padding: 12px; 
    margin: 5px 0;
    border-radius: 8px; 
    background-color: #f0f0f5; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.port, .state, .service {
    display: inline-block;
    width: 30%;
    font-size: 0.9em;
    color: #333;
}

.port {
    font-weight: 700;
}

.state {
    font-weight: 500;
}

.service {
    font-weight: 400;
    text-align: right;
}



footer {
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 0.9em;
}


@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    header {
        justify-content: space-between;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #007aff;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100% - 60px);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 15px 0;
        text-align: center;
    }

    nav ul li a {
        color: white;
        font-size: 1.5em;
        text-decoration: none;
    }

    .container {
        padding: 20px;
    }
}

@media (min-width: 769px) {
    header {
        justify-content: space-between;
    }

    nav {
        order: -1;
    }

    .signup-button {
        margin-left: auto;
    }
}

